<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User name:  <%= @user.name %></h1>
    <p>
      Do you have change password your account?
      click "change" if you want change password!!<br>
    </p>
    <p>
     <%= link_to "Change", new_password_url(name: @user.name, token_change_pass: @user.token_change_pass), method: :get%>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>