<div class="change_pass">
    <%= form_with url: "/forgot_password", method: :get do |form| %>
        <div class="forgot_password">
            <h2>Would you like change password?</h2>
            <%= form.text_field :name, placeholder: "Email" %><br>
            <%= form.submit "send mail"%>
        </div>
    <%end%>
</div>