
    <% @user.each do |user|%>
        <div class= "block_list">
        <h1>List users</h1>
            <div class="list_all_users">
                <p >
                <strong>Email:</strong> <%= user.name %><br />
                <strong>Password:</strong> ****<%=  %><br /><br />

                <%= link_to 'Destroy', user ,method: :delete, data: { confirm: 'Are you sure?' } %>           
                </p>
            </div>
        </div>
    <% end %>