<h1>List users</h1>
<% @user.each do |user|%>
<div class="list_users">
    <p >
    <strong>Email:</strong> <%= user.name %><br />
    <strong>Password:</strong> ****<%= user.password %><br /><br />

        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                
    </p>
</div>
<% end %>
