/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.content{
    margin: 0;
    padding: 0;
    

    .top_menu{
        width: 100%;
        height: 100px;
    }
    .menu_list{
        padding-bottom: 1em;
        text-align: center;
        position: absolute;
        width: 200px;
        height: 100%;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            @media (min-width: 30em) {
                 padding-right: 1em; // give desktop some extra space
            }
            li {
                margin: 0;
                padding: 0.5em;
                text-transform: uppercase;
                letter-spacing: 0.354em;
            }
        }
    }
}
