// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.block{
    height: 400px;
    position: relative;
    width: 45%;
    right: -30%;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    margin-top: 20px;

    .errors{
        position: relative;
        margin-top: 5px;
        h3{
            position: relative;
            left: 25px;
            top: 10px;
            color: red;
        }
        
        ul{
            li{
                font-size: 12px;
                color: red;
                font-style: italic;
            }
        }
    }

    .login-show{
        position: absolute;
        left: 20%;
        top: 14%;
        h2{
            text-align: center;
           
            left: 20%;
        }
       
        input{
        margin: 15px;
        width: 300px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
        box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
        }
         
    }

    .btn_log input{
        width: 70px;
        height: 40px;
        position: absolute;
        top: 300px;
        left: 42%;
        background-color: #768288;
        color: #fff;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
        letter-spacing: 1.3px;
    }

    .menu_list{
        font-size: 15px;
        position: relative;
        top:360px;
        left: 23%;
    }  

    .link_sign_in{
        position: relative;
        top:360px;
        left: 43%;
    }

    .check_remember{
        position: relative;
        top: 342px;
        left: 48%;
    }

    .sign_in{
        position: absolute;
        top: 2%;
        margin: 5px 15px;
    }
}

.block_list{
    position: relative;
    margin: 20px;
    left: 20%;
    .list_all_users{
        p{
            size: 20px;

        }
    }
}

.change_pass{
    position: relative;
    left: 20%;
}

.confirm_pass{
    position: relative;
    left: 20%;
    .alert_change_pass{
     position: relative;
     top: 30%;
     color: red;
     font-style: italic;
     
    }
}

.successful_pag{
    position: relative;
    left: 20%;
}

.verify_page{
    position: relative;
    left: 20%;
}

.edit_user{ 
    top: 10px;
    position: relative;
    left: 20%;
    .txt{
        border-radius: 15px;
        background-color: #ccdbdb1f;
        height: 50px;
        margin: 15px;
        position: relative;
        font-size: 20px
    }
    .btn{
        width: 80px;
        height: 40px;
        margin: 15px;
        border-radius: 10px;
    }
}
